@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:regular|Montserrat:regular');
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --clr-blue: #223f99;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --radius-50: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --light-white-shadow: -4px -8px 4px #dedede;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 95vw;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-black);
  line-height: 1.5;
  font-size: 0.875rem;
}
main {
  display: flex;
  flex-direction: column;
}
footer {
  width: 100vw;
  height: 7vw;
  display: grid;
  place-items: center;
  padding: 3rem;
}
a {
  padding: 0 6px 0 6px;
  box-shadow: 0px 1px 0px white;
  text-decoration: none;
  color: var(--secondary);
  font-family: var(--font-secondary);
  border-bottom: 2px solid var(--clr-white);
}

a:hover {
  padding: 0 6px 0 6px;
  border-bottom: 2px solid var(--clr-blue);
  transition: 1s;
  font-family: var(--font-secondary);
}

a:visited {
  color: gray;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Source Code Pro";
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-black);
  font-family: "Montserrat";
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/*
=============== 
Navbar
===============
*/
nav {
  background: var(--clr-blue);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  top: 85%;
  left: 85%;
  color: var(--clr-blue);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  position: fixed;
  z-index: 10;
}
.nav-toggle:hover {
  color: var(--clr-blue);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: var(--clr-grey-10);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-grey-10);
  color: var(--clr-blue);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 52%;
  left: 63%;
  background: var(--clr-blue);
  z-index: 10;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  nav {
    width: 100vw;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;

    position: relative;
    top: 0;
    left: 0;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
    border-bottom: 2px solid var(--clr-blue);
  }
  .links a:hover {
    padding: 0;
    background: transparent;
    border: none;
    padding-right: 0.3rem;
    color: var(--clr-grey-10);
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}

/*
=============== 
Language Choice
===============
*/
.language {
  width: 100vw;
  height: 60vw;
  display: grid;
  place-items: center;
  text-align: center;
  
}
.flag-box {
  width: 80vw;
  margin-top: 2rem;
  padding: 2vw 0 4vw 0;
  background: rgba(255, 255, 255, 0.83);
  display: flex;
  flex-direction: column;
  font-size: 2vw;
  color: var(--clr-blue);
  border-radius: var(--radius-50);
}
.flag-box img {
  width: auto;
  height: 30vh;
  margin: 3vw;
}
@media screen and (max-width: 800px) {
  .flag-box img {
    height: 15vh;
    width: auto;
    margin: 1.5vw;
  }
}


/*
=============== 
Home
===============
///https://cdn.pixabay.com/photo/2017/08/20/10/47/grey-2661270_960_720.png
///https://images.unsplash.com/photo-1522648485144-849409408aee?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ
*/
.header {
  width: 100vw;
  height: 50vw;
  display: grid;
  position: block;
  font-size: auto;
  place-items: center;
  text-align: center;
  background-size: 100vw;
  background-position: center;
  background-blend-mode: multiply;
}
.header-box {
  width: 80vw;
  height: 25vw;
  padding: 3vw;
  background: rgba(255, 255, 255, 0.83);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2vw;
  color: var(--clr-blue);
  border-radius: var(--radius-50);
}


/*
=============== 
About
===============
*/

.about {
  width: 100vw;
  margin: 3vw auto 10vw auto;
  display: grid;
  place-items: center;
}

.social-contact {
  display: flex;
  gap: 2rem;
}
.social-contact li {
  display: grid;
  place-items: center;
  font-weight: 500;
}
.social-contact a {
  margin: 0 0.5rem;
  font-size: 2rem;
  color: var(--clr-blue);
  transition: var(--transition);
}
.social-contact a:hover {
  color: var(--clr-primary-7);
}
.info-about {
  display: grid;
  width: 95vw;
  place-items: center;
  gap: 2rem;
  grid-template-columns: minmax(150px, 35%) 1fr;
}
.info-text {
  text-align: justify;
  padding-left: 0rem;
}
.info-text h4 {
  text-transform: uppercase;
  color: var(--clr-white);
  background: var(--clr-blue);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);

}
.about img {
  width: 33vw;
  border-radius: 50%;
  margin-bottom: 1rem;
}
@media screen and (max-width: 800px) {
  .info-about {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .about img {
    width: 70vw;
    margin-left: 0rem;
  }
  .info-text {
    width: 80vw;
  }
}

/*
Buttons for Alternate Sections
*/
.prev,
.next {
  position: absolute;
  margin-top: 15rem;
  transform: translateY(-50%);
  background: var(--clr-blue);
  color: var(--clr-grey-10);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
  z-index: 9;
}
.prev:hover,
.next:hover {
  background: var(--clr-black);
}
.prev {
  left: 0.5rem;
}
.next {
  right: 0.5rem;
}
@media (min-width: 800px) {
  .prev,
  .next {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
}

/*
=============== 
Experiences
===============
*/
/* experiences */
.experiences {
  width: 95vw;
  position: block;
  margin: 0vw auto 10vw auto;
  padding: 5vw 0 10vw 0;
  max-width: var(--max-width);
  display: grid;
  place-items: center;
  text-align: center;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.experiences section {
  transition: var(--transition);
}

@media screen and (min-width: 992px) {
  .experiences {
    width: 100vw;
  }
}

.jobs-center {
  width: 80vw;
  margin: 0 auto;
  text-align: initial;
  max-width: var(--max-width);
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}
.job-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
  outline-color: var(--clr-grey-10);
}
.job-btn:hover {
  color: var(--clr-blue);
  box-shadow: 0 2px var(--clr-blue);
}
.active-btn {
  color: var(--clr-blue);
  box-shadow: 0 2px var(--clr-blue);
}

.job-info h3 {
  font-weight: 400;
}
.job-info h4 {
  text-transform: uppercase;
  color: var(--clr-white);
  background: var(--clr-blue);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
}
.job-date {
  letter-spacing: var(--spacing);
}
.job-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}
.job-desc p {
  margin-bottom: 0;
  color: var(--clr-blue);
}
.job-icon {
  color: var(--clr-black);
}
@media screen and (min-width: 992px) {
  .jobs-center {
    width: 90vw;
    height: 25vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 5rem;
  }
  .btn-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .job-btn {
    margin-bottom: 1rem;
  }
  .active-btn {
    box-shadow: -2px 0 var(--clr-blue);
  }
  .job-btn:hover {
    box-shadow: -2px 0 var(--clr-blue);
  }
}
/*
.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-9);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}
*/
/*
Skills
*/

.skill-center {
  margin: 0;
  display: grid;
  place-items: center;
}
.skill-center svg {
  margin: 0;
}

@media screen and (min-width: 992px) {
  .skill-center {
    width: 30vw;
    height: 25vw;
  }
}

/*
=============== 
Contact
=============== 
*/
.contact-box {
  width: 95vw;
  margin: 3vw auto 5vw auto;
  padding: 5vw 0 5vw 0;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  display: grid;
  place-items: center;
}
.contact-box h3 {
  text-align: center;
  text-transform: initial;
}
::placeholder {
  padding: 1rem;
  color: var(--clr-grey-4);
}
.honey {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}
.contact-form {
  display: grid;
  place-items: center;
}
.form-itens {
  display: grid;
  padding-bottom: 0.5rem;
}
.form-label {
  text-transform: uppercase;
  color: var(--clr-blue);
  padding: 0.375rem 0.75rem 0.375rem 0;
  border-radius: var(--radius);
}
.form-input {
  width: 80vw;
  height: 7vh;
  border-color: var(--clr-white);
  border-radius: var(--radius-50);
  display: block;
  outline-color: var(--clr-blue);
}
.comments {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 80vw;
  border-radius: var(--radius-50);
  outline-color: var(--clr-blue);
}
.form-button {
  width: 80vw;
  margin: 1rem 0rem 2rem 0rem;
  border: 1px solid var(--clr-blue);
  background-color: var(--clr-blue);
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  cursor: pointer;
  padding: 1rem;
  text-transform: uppercase;
  border-radius: var(--radius-50);
  outline-color: var(--clr-blue);
}
.form-button:hover {
  border: 1px solid var(--clr-blue);
  transform: var(--transition);
  background-color: var(--clr-grey-10);
  color: var(--clr-blue);
}
